<p id="notice"><%= notice %></p>
<div class="cart_title">Your Cart</div>


<table>
  <% @cart.line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.quantity %> &times;</td>
    <td><%= line_item.product.title %></td>
    <td class="line_item_price"><%= number_to_currency(line_item.total_price) %></td>
    <td><%= link_to 'Delete', line_item_path(line_item), :method => 'delete' %></td>
  </tr>
<% end %>
  <tr calss="total_line">
    <td colspan="3" >Total:</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
<%= button_to "Checkout", new_order_path, :method => :get %>
<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
